/* for full width divs */
* {
  margin: 0;
  scroll-behavior: smooth;
}

/* NAV */
#nav-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 15px 25px;
  background: rgba(58, 58, 58, 0.877);
  /* -webkit-trgba(85, 85, 85, 0.801)s; */
  /* transition: box-shadow 1s; */
}

#nav-name,
#nav-work,
#nav-about,
#nav-break {
  color: rgb(206, 206, 206);
  font-size: 17px;
  font-weight: 200;
  padding: 0px 15px;
  text-decoration: none;
  font-family: 'Abel';
}

#nav-name {
  position: relative;
  font-size: 25px;
  margin-right: auto;
  top: -50px;
  -webkit-transition: top 1s;
  transition: top 1s;
}

#nav-break {
  font-size: 25px;
}

.nav-selected {
  font-size: 20px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

/* HOME */
#intro-container {
  display: flex;
  height: 450px;
  align-items: center;
  justify-content: center;
}

#intro-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 550px;
  padding: 20px 0;
  margin-bottom: 75px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* background-color: rgba(128, 128, 128, 0.349); */
  /* box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.37); */
}

.intro {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  font-size: 45px;
  font-weight: 1100;
  color: rgb(0, 0, 0);
  font-family: 'Abel';
}

#intro-container::before {
  height: 450px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  /* background-image: url('nyc_sunset.png');
  object-fit: scale-down;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(0.75px); */
}

/* PROJECTS */
#proj-container {
  /* margin-bottom: 50px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: rgb(212, 212, 212); */
}

#proj-section-container {
  display: flex;
  flex-direction: row;
  width: 49.5%;
  height: 500px;
  margin: 0.25% 0.25%;
  /* align-items: center; */
}

#single-proj-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
}

#proj-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  /* background-color: rgba(167, 167, 167, 0.384); */
  /* margin-top: 100px; */
  /* box-shadow: 10px 10px 35px grey; */
}

#proj-img-container img {
  vertical-align: center;
  /* margin-top: auto; */
  max-width: 85%;
  max-height: 55%;
  object-fit: cover;
  box-shadow: 0px 0px 35px grey;
}

#proj-info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  justify-content: center;
  /* margin-left: 25vw; */
  /* padding: 20px 20px; */
  /* box-shadow: 10px 10px 35px grey; */
  /* border-radius: 10px; */
}

#proj-title {
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Abel';
}

#proj-tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 70px; */
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.tech-bubble {
  border-radius: 20px;
  padding: 2px 10px;
  margin: 2px 2px;
  color: white;
  background-color: rgba(255, 255, 255, 0.267);
  font-family: 'Abel';
}

#proj-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 49.5%;
  height: 500px;
  color: white;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.342)
  );
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Abel';
  opacity: 0;
}

#proj-desc-container:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

#proj-desc {
  padding: 60px 20px;
}

.proj-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Abel';
  padding: 5px 40px;
  margin: 20px 0;
  margin-left: calc(50% - 15% - 40px);
  color: white;
  z-index: 1;
}

/* SKILLS */
#skills-container {
  background-color: rgb(102, 211, 102);
  box-shadow: 10px 3px 25px grey;
  padding: 60px 0;
  /* height: 50vh; */
}

#skills-title {
  text-align: center;
  font-size: 35px;
  padding: 20px 20px;
  padding-top: 50px;
  font-weight: 700;
  color: white;
  font-family: 'Abel';
}

table,
th,
td {
  text-align: left;
  color: white;
  font-family: 'Abel';
}

th {
  color: white;
  font-size: 30px;
}
td {
  color: white;
  font-size: 20px;
  padding-left: 15px;
}

table {
  width: 800px;
  padding-bottom: 50px;
}

div table {
  margin-left: auto;
  margin-right: auto;
}

/* CONTACT */

#contact-container {
  margin: 60px 0;
}

#contact-header {
  font-size: 30px;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
  font-family: 'Abel';
}

form {
  padding: 35px 35px;
  margin: 0px auto;
  width: 700px;
}

form div label {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  width: 90px;
  font-family: 'Abel';
}

form input[type='email'] {
  width: 70%;
  font-family: 'Abel';
}

form textarea {
  width: 70%;
  height: 120px;
  font-family: 'Abel';
}

form input[type='submit'] {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Abel';
}

#contact-footer {
  font-size: 15px;
  margin-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Abel';
}

/* FOOTER */
#footer-container {
  background-color: rgb(194, 194, 194);
  text-align: center;
  height: 150px;
}

#icon-linkedin,
#icon-github {
  color: white;
  font-size: 45px;
  margin: 30px 20px;
}

#footer-container div {
  color: white;
  font-size: 10px;
  font-family: 'Abel';
}

/* ABOUT */
#about-container {
  display: flex;
  flex-direction: row;
  position: block;
  width: 90%;
  height: 100%;
  margin: 5% auto;
  /* background-color: rgb(255, 246, 236); */
  pointer-events: none;
}

#bio-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

#bio-profile-pic {
  background-image: url('lm_profile.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 50%;
  height: auto;
  margin: 50px 50px;
  box-shadow: 10px 3px 25px grey;
}

#bio-text-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
  margin: 50px 0;
  margin-right: 50px;
  font-family: 'Abel';
}

#bio-title {
  height: 70px;
  font-size: 55px;
}

.bio-intro {
  height: 30px;
  font-size: 24px;
}

#bio-summary {
  height: 400px;
}

.bio {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bio-links {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
}

#bio-links i {
  font-size: 35px;
  padding: 0 10px;
}
