/* for full width divs */
* {
  margin: 0;
}

/* HOME */
#intro-container {
  display: flex;
  justify-content: center;
  background-color: rgb(102, 211, 102);
}

#intro {
  font-size: 29px;
  color: black;
  font-weight: 500;
  padding: 20vh 0;
  font-family: Karla, Helvetica, sans-serif;
}

/* NAV */
#nav-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px 0;
  background-color: white; /* temporary */
  border-bottom-style: solid;
  border-width: 1px;
  background-color: rgb(102, 211, 102);
  box-shadow: 0 10px 5px -5px rgba(128, 128, 128, 0.37);
}

.nav-item {
  color: black;
  font-weight: 600;
  padding: 0px 10px;
  font-family: Karla, Helvetica, sans-serif;
}

/* PROJECTS */
#proj-container {
  margin-bottom: 50px;
}

#single-proj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proj-img-container {
  width: 950px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(206, 206, 206, 0.158);
  margin-top: 100px;
  box-shadow: 10px 10px 35px grey;
}

#proj-img-container img {
  vertical-align: baseline;
  margin-top: auto;
}

#proj-info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 200px;
  background: white;
  margin-top: 275px;
  margin-left: 25vw;
  padding: 20px 20px;
  box-shadow: 10px 10px 35px grey;
}

#proj-title {
  text-align: left;
  font-size: 30px;
  color: grey;
  font-family: Karla, Helvetica, sans-serif;
}

#proj-desc {
  font-size: 15px;
  font-family: Karla, Helvetica, sans-serif;
}

/* SKILLS */
#skills-container {
  background-color: rgb(102, 211, 102);
  box-shadow: 10px 3px 25px grey;
  /* height: 50vh; */
}

#skills-title {
  text-align: center;
  font-size: 35px;
  padding: 20px 20px;
  padding-top: 50px;
  font-weight: 700;
  color: white;
  font-family: Karla, Helvetica, sans-serif;
}

table,
th,
td {
  text-align: left;
  color: white;
  font-family: Karla, Helvetica, sans-serif;
}

th {
  color: white;
  font-size: 30px;
}
td {
  color: white;
  font-size: 20px;
  padding-left: 15px;
}

table {
  width: 800px;
  padding-bottom: 50px;
}

div table {
  margin-left: auto;
  margin-right: auto;
}

/* CONTACT */

#contact-container {
  /* background-color: lightgoldenrodyellow; */
}

#contact-header {
  font-size: 20px;
  font-weight: 700;
  padding-top: 50px;
  text-align: center;
  font-family: Karla, Helvetica, sans-serif;
}

form {
  /* background-color: red; */
  padding: 35px 35px;
  margin: 0px auto;
  width: 500px;
}

form div label {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  width: 90px;
}

form input[type='email'] {
  width: 70%;
}

form textarea {
  width: 70%;
  height: 75px;
}

form input[type='submit'] {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
}

#contact-footer {
  font-size: 15px;
  margin-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  font-family: Karla, Helvetica, sans-serif;
}

/* FOOTER */
#footer-container {
  background-color: rgb(194, 194, 194);
  text-align: center;
  height: 150px;
}

#icon-linkedin,
#icon-github {
  color: white;
  font-size: 45px;
  margin: 30px 20px;
}

#footer-container div {
  color: white;
  font-size: 10px;
}
