/* for full width divs */
* {
  margin: 0;
  scroll-behavior: smooth;
}

/* NAV */
#nav-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 35px 25px;
  background: rgba(58, 58, 58, 0.877);
}

#nav-name,
#nav-work,
#nav-about,
#nav-break {
  color: rgb(206, 206, 206);
  font-size: 40px;
  font-weight: 700;
  padding: 0px 15px;
  text-decoration: none;
  font-family: 'Abel';
  transition: color 0.1s;
}

#nav-name {
  position: relative;
  font-size: 40px;
  margin-right: auto;
  top: -50px;
  opacity: 0;
  -webkit-transition: top 1s, opacity 2s;
  transition: top 1s, opacity 2s;
}

#nav-break {
  font-size: 40px;
}

/* HOME */
#intro-container {
  display: flex;
  flex-direction: column;
  height: 370px;
  align-items: center;
  justify-content: center;
}

#intro-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 615px;
  padding: 20px 0;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-first-greeting {
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

#intro-second-greeting {
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.intro {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  font-size: 64px;
  font-weight: 1100;
  color: rgb(0, 0, 0);
  font-family: 'Abel';
}

#intro-summary-one {
  display: none;
}

#intro-summary-two {
  display: none;
}

/* PROJECTS */
#proj-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#proj-section-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 500px;
  margin: 0.25% 0.25%;
}

#single-proj-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
}

#proj-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

#proj-img-container img {
  vertical-align: center;
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  box-shadow: 0px 0px 35px grey;
}

#proj-info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#proj-title {
  text-align: center;
  font-size: 70px;
  margin: 20px 0;
  color: white;
  font-family: 'Abel';
}

.proj-desc-container {
  display: none;
}

#proj-tech-container {
  display: none;
}

#proj-clickme-mobile {
  text-align: center;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.671);
  font-family: 'Abel';
}

#proj-clickme-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.123),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Abel';
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#single-proj-container:hover #proj-clickme-container {
  opacity: 1;
}

#proj-inprogress-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#proj-inprogress-container div {
  font-size: 50px;
  color: white;
  font-family: 'Abel';
}

#proj-inprogress-container div #cog-icon {
  font-size: 200px;
}

/* CONTACT */

#contact-container {
  margin: 0.25% 2.5%;
  border-radius: 5px;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#contact-header {
  font-size: 70px;
  font-weight: 600;
  padding-top: 100px;
  text-align: center;
  font-family: 'Abel';
}

form {
  padding: 35px 35px;
  margin: 0px auto;
  width: 700px;
}

form div label {
  display: inline-block;
  font-size: 50px;
  vertical-align: top;
  width: 200px;
  font-family: 'Abel';
}

form input[type='email'] {
  font-size: 40px;
  width: 70%;
  height: 70px;
  background-color: rgb(228, 228, 228);
  font-family: 'Abel';
}

form textarea {
  font-size: 40px;
  width: 70%;
  height: 200px;
  background-color: rgb(228, 228, 228);
  font-family: 'Abel';
}

form input[type='submit'] {
  font-size: 40px;
  width: 100%;
  height: 90px;
  border-style: solid;
  border-radius: 50px;
  border-width: 0.5px;
  border-color: rgb(175, 175, 175);
  background-color: rgb(228, 228, 228);
  cursor: pointer;
  font-family: 'Abel';
}

#contact-footer {
  font-size: 35px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Abel';
}

/* FOOTER */
#footer-container {
  background-color: rgb(194, 194, 194);
  text-align: center;
  height: 230px;
}

#icon-linkedin,
#icon-github {
  color: white;
  font-size: 110px;
  margin: 32px 150px;
  transition: color 0.5s;
}

#icon-github:hover {
  color: rgb(36, 158, 42);
  cursor: pointer;
}

#icon-linkedin:hover {
  color: rgb(52, 116, 255);
  cursor: pointer;
}

#footer-container div {
  color: white;
  font-size: 40px;
  font-family: 'Abel';
}

/* ABOUT */
#about-container {
  display: flex;
  flex-direction: row;
  position: block;
  width: 90%;
  height: 100%;
  margin: 5% auto;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#bio-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2500px;
}

#bio-profile-pic {
  background-image: url('https://s3.amazonaws.com/lm-portfolio/lm_headshot.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
  height: 30%;
  box-shadow: 10px 3px 25px grey;
}

#bio-text-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  margin: 50px 0;
  font-family: 'Abel';
}

#bio-title {
  font-size: 120px;
}

.bio-intro {
  font-size: 60px;
  color: grey;
}

#bio-summary {
  font-size: 50px;
}

.bio {
  margin: 40px 0;
}

#bio-links {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  transition: color 0.5s;
}

#bio-links i {
  color: rgb(112, 112, 112);
  font-size: 150px;
  padding: 40px 100px;
}

#bio-icon-linkedin:hover {
  color: rgb(52, 116, 255);
  transition: color 0.5s;
}

#bio-icon-github:hover {
  color: rgb(36, 158, 42);
  transition: color 0.5s;
}

/* SKILLS */
#skills-container {
  display: flex;
  flex-direction: column;
  padding: 50px 5%;
  background-color: rgba(223, 223, 223, 0.678);
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#skills-title {
  text-align: left;
  margin-bottom: 20px;
  font-size: 120px;
  font-weight: 700;
  font-family: 'Abel';
}

#skills-tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-area-container {
  background: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px 50px;
  margin: 50px 10px;
}

.skills-area {
  text-align: left;
  font-size: 100px;
  font-weight: 700;
  font-family: 'Abel';
  margin-bottom: 10px;
  color: grey;
}

.single-skill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  margin: 35px 0;
}

.single-skill-image {
  object-fit: scale-down;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 100%;
}

.single-skill {
  text-align: left;
  font-size: 75px;
  font-family: 'Abel';
  padding: 0 20px;
}

/* FOR INDIVIDUAL PROJECT COMPONENTS */
#proj-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.proj-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2.5px;
  border-radius: 45px;
  height: 55px;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Abel';
  padding: 20px 2.5%;
  margin: 5px 2.5%;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  z-index: 1;
}

.proj-button:hover {
  color: rgb(73, 73, 255);
  background-color: rgba(255, 255, 255, 0.589);
}

.proj-backtoprojects {
  margin: 35px 0;
  text-align: center;
  font-size: 50px;
  color: grey;
}

/* IDENTIFI */
#proj-identifi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Abel';
}

#proj-header-identifi {
  /* background-image: linear-gradient(
    to right,
    rgb(0, 174, 255),
    rgb(62, 91, 255)
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1250px;
  padding: 25px 0;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

#proj-header-identifi img {
  height: 600px;
  z-index: 1;
}

.proj-header-platform-identifi {
  position: absolute;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.25)
  );
  width: 750px;
  border-radius: 99%;
  height: 100px;
  top: 650px;
}

#proj-title-identifi {
  font-size: 95px;
  height: 100px;
  padding-top: 85px;
  color: white;
}

#proj-button-container-identifi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

#proj-button-container-identifi a {
  height: 100px;
  border-radius: 100px;
  margin: 15px 0;
}

#proj-button-container-identifi .proj-button {
  text-decoration: none;
  background-color: none;
}

.proj-button div {
  color: white;
}

#proj-body-identifi {
  margin: 0 5%;
}

.proj-body-title {
  font-size: 85px;
  margin-top: 30px;
  color: grey;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.proj-body-content-identifi {
  margin-top: 50px;
  font-size: 50px;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#proj-body-tech-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px 0;
  padding-left: 10%;
  margin: 10px 0;
  border-radius: 5px;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.single-tech-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  margin: 15px 0;
}

.single-tech-image {
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.single-tech {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 11px;
  color: white;
}

#proj-body-howitworks-container-identifi {
  margin-top: 1825px;
}

#proj-body-techstackimg-container-identifi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

#proj-body-techstackimg-container-identifi div {
  width: 900px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* FLUFFTRAINER */
#proj-flufftrainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Abel';
}

#proj-header-flufftrainer {
  /* background-image: linear-gradient(to right, rgb(8, 240, 0), rgb(17, 197, 1)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1250px;
  padding: 25px 0;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

#proj-header-flufftrainer img {
  height: 470px;
  margin-top: 45px;
  margin-bottom: -45px;
  z-index: 1;
}

.proj-header-platform-flufftrainer {
  position: absolute;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.25)
  );
  width: 890px;
  border-radius: 99%;
  height: 100px;
  top: 625px;
}

#proj-title-flufftrainer {
  font-size: 95px;
  height: 140px;
  padding-top: 120px;
  color: white;
}

#proj-button-container-flufftrainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

#proj-button-container-flufftrainer a {
  height: 100px;
  border-radius: 100px;
  margin: 15px 0;
}

#proj-button-container-flufftrainer .proj-button {
  text-decoration: none;
  background-color: none;
}

.proj-button div {
  color: white;
}

#proj-body-flufftrainer {
  margin: 0 5%;
}

.proj-body-title {
  font-size: 85px;
  margin-top: 30px;
  color: grey;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.proj-body-content-flufftrainer {
  margin-top: 50px;
  font-size: 50px;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#proj-body-tech-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px 0;
  padding-left: 10%;
  margin: 10px 0;
  border-radius: 5px;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.single-tech-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  margin: 15px 0;
}

.single-tech-image {
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.single-tech {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 11px;
  color: white;
}

#proj-body-howitworks-container-flufftrainer {
  margin-top: 2070px;
}

#proj-body-techstackimg-container-flufftrainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

#proj-body-techstackimg-container-flufftrainer div {
  width: 900px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* CODINGBOOKS */
#proj-codingbooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Abel';
}

#proj-header-codingbooks {
  /* background-image: linear-gradient(
    to right,
    rgb(0, 174, 255),
    rgb(99, 204, 253)
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1250px;
  padding: 25px 0;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

#proj-header-codingbooks img {
  height: 470px;
  margin-top: 45px;
  margin-bottom: -45px;
  z-index: 1;
}

.proj-header-platform-codingbooks {
  position: absolute;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.25)
  );
  width: 890px;
  border-radius: 99%;
  height: 100px;
  top: 625px;
}

#proj-title-codingbooks {
  font-size: 95px;
  height: 140px;
  padding-top: 120px;
  color: white;
}

#proj-button-container-codingbooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

#proj-button-container-codingbooks a {
  height: 100px;
  border-radius: 100px;
  margin: 15px 0;
}

#proj-button-container-codingbooks .proj-button {
  text-decoration: none;
  background-color: none;
}

.proj-button div {
  color: white;
}

#proj-body-codingbooks {
  margin: 0 5%;
}

.proj-body-title {
  font-size: 85px;
  margin-top: 30px;
  color: grey;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.proj-body-content-codingbooks {
  margin-top: 50px;
  font-size: 50px;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#proj-body-tech-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px 0;
  padding-left: 10%;
  margin: 40px 0;
  border-radius: 5px;
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.single-tech-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  margin: 15px 0;
}

.single-tech-image {
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.single-tech {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 11px;
  color: white;
}

#proj-body-howitworks-container-codingbooks {
  margin-top: 1825px;
}

#proj-body-techstackimg-container-codingbooks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

#proj-body-techstackimg-container-codingbooks div {
  width: 900px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* FOR FADE IN */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1025px) {
  /* NAV */
  #nav-container {
    padding: 15px 25px;
  }

  #nav-name,
  #nav-work,
  #nav-about,
  #nav-break {
    font-size: 17px;
    font-weight: 700;
    padding: 0px 15px;
    text-decoration: none;
    font-family: 'Abel';
    transition: color 0.1s;
  }

  #nav-work:hover,
  #nav-about:hover {
    color: grey;
    transition: color 0.1s;
    cursor: pointer;
  }

  #nav-name {
    font-size: 25px;
    opacity: 0;
    -webkit-transition: top 1s, opacity 2s;
    transition: top 1s, opacity 2s;
  }

  #nav-break {
    font-size: 25px;
  }

  /* HOME */

  #intro-text {
    width: 430px;
  }

  .intro {
    font-size: 45px;
  }

  #intro-summary-one {
    display: block;
    justify-content: center;
    width: 90%;
    font-size: 20px;
    color: grey;
    opacity: 0;
    -webkit-animation: 1.3s ease 0.2s normal forwards 1 fadein;
    animation: 1.3s ease 0.2s normal forwards 1 fadein;
  }

  #intro-summary-two {
    display: block;
    width: 60%;
    font-size: 20px;
    color: grey;
    opacity: 0;
    -webkit-animation: 1.3s ease 0.2s normal forwards 1 fadein;
    animation: 1.3s ease 0.2s normal forwards 1 fadein;
  }

  /* PROJECTS */
  #proj-container {
    flex-direction: row;
    justify-content: center;
  }

  #proj-section-container {
    width: 49.5%;
  }

  #proj-img-container img {
    max-width: 85%;
    max-height: 55%;
  }

  #proj-info-container {
    align-items: normal;
  }

  #proj-title {
    font-size: 35px;
    margin: 0 0;
  }

  .proj-desc-container {
    display: block;
    font-family: 'Abel';
    color: white;
    font-size: 18px;
    padding: 0 2px;
    text-align: center;
  }

  #proj-clickme-mobile {
    display: none;
  }

  #proj-tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .tech-bubble {
    display: block;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 2px 2px;
    color: white;
    background-color: rgba(255, 255, 255, 0.267);
    font-family: 'Abel';
  }

  #proj-button-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    height: 100px;
    width: 100%;
  }

  .proj-button {
    text-decoration: none;
    border-width: 1px;
    border-radius: 15px;
    height: 25px;
    width: 35%;
    font-size: 16px;
    padding: 5px 2.5%;
    margin: 0 2.5%;
    background-color: none;
  }

  #proj-clickme-container {
    width: 49.5%;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    text-indent: 0;
  }

  #proj-clickme {
    padding: 60px 20px;
  }

  #proj-inprogress-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  #proj-inprogress-container div {
    font-size: 20px;
  }

  #proj-inprogress-container div #cog-icon {
    font-size: 100px;
  }

  /* CONTACT */

  #contact-container {
    margin: 0.25% 0.25%;
    background-image: linear-gradient(
      to right,
      rgb(230, 228, 207),
      rgb(221, 216, 198)
    );
  }

  #contact-header {
    font-size: 30px;
    padding-top: 50px;
  }

  form div label {
    font-size: 15px;
    width: 90px;
  }

  form input[type='email'] {
    font-size: 16px;
    height: 25px;
    background-color: white;
  }

  form textarea {
    font-size: 16px;
    height: 120px;
    background-color: white;
  }

  form input[type='submit'] {
    font-size: 16px;
    height: 25px;
    border-radius: 10px;
  }

  #contact-footer {
    font-size: 15px;
  }

  /* FOOTER */
  #footer-container {
    height: 150px;
  }

  #icon-linkedin,
  #icon-github {
    font-size: 45px;
    margin: 30px 20px;
  }

  #footer-container div {
    font-size: 10px;
  }

  /* ABOUT */

  #bio-container {
    flex-direction: row;
    height: 600px;
  }

  #bio-profile-pic {
    width: 50%;
    height: auto;
    margin: 50px 50px;
  }

  #bio-text-container {
    height: 500px;
    width: 50%;
    margin-right: 50px;
  }

  #bio-title {
    height: 70px;
    font-size: 55px;
  }

  .bio-intro {
    height: 30px;
    font-size: 24px;
  }

  #bio-summary {
    height: 400px;
    font-size: 16px;
  }

  .bio {
    font-size: 18px;
    margin: 10px 0;
  }

  #bio-links i {
    font-size: 45px;
    padding: 0 10px;
  }

  /* SKILLS */
  #skills-container {
    padding: 20px 10%;
  }

  #skills-title {
    font-size: 55px;
  }

  #skills-tech-container {
    flex-direction: row;
  }

  .skills-area-container {
    padding: 0 25px;
    margin: 0 10px;
    width: 40%;
    transition: background 1.5s;
  }

  .skills-area {
    font-size: 45px;
  }

  .single-skill-container {
    height: 70px;
    margin: 0 0;
  }

  .single-skill-image {
    width: 40px;
    transition: width 0.5s;
  }

  .single-skill {
    font-size: 25px;
    transition: font-size 0.5s;
  }

  .skills-area-container:hover .single-skill-image {
    width: 50px;
    transition: width 0.5s;
  }

  /* FOR INDIVIDUAL PROJECT COMPONENTS */
  .proj-button div {
    color: white;
  }

  .proj-backtoprojects {
    margin: 20px 0;
    font-size: 18px;
  }

  /* IDENTIFI */
  #proj-identifi {
    margin-bottom: 40px;
  }

  #proj-header-identifi {
    height: 600px;
  }

  #proj-header-identifi img {
    height: 400px;
  }

  .proj-header-platform-identifi {
    margin-top: 75px;
    top: 345px;
  }

  #proj-title-identifi {
    font-size: 65px;
    height: 70px;
    padding-top: 45px;
  }

  #proj-button-container-identifi {
    flex-direction: row;
  }

  #proj-button-container-identifi a {
    height: 40px;
    border-radius: 50px;
    margin: 0 1%;
  }

  #proj-body-identifi {
    margin: 0 20%;
  }

  .proj-body-title {
    font-size: 35px;
  }

  .proj-body-content-identifi {
    margin-top: 15px;
    font-size: 20px;
  }

  #proj-body-tech-container {
    flex-direction: row;
    width: 50%;
  }

  .single-tech-container {
    height: 50px;
    width: 50%;
    margin: 5px 0;
  }

  .single-tech-image {
    width: 50px;
  }

  .single-tech {
    font-size: 20px;
    padding-left: 17px;
  }

  #proj-body-howitworks-container-identifi {
    margin-top: 505px;
  }

  #proj-body-techstackimg-container-identifi {
    height: 465px;
  }

  #proj-body-techstackimg-container-identifi div {
    width: 600px;
  }

  /* FLUFFTRAINER */
  #proj-flufftrainer {
    margin-bottom: 40px;
  }

  #proj-header-flufftrainer {
    height: 600px;
  }

  #proj-header-flufftrainer img {
    height: 400px;
    margin-top: -15px;
    margin-bottom: 15px;
  }

  .proj-header-platform-flufftrainer {
    width: 900px;
    margin-top: 75px;
    top: 345px;
  }

  #proj-title-flufftrainer {
    font-size: 65px;
    height: 70px;
    padding-top: 45px;
  }

  #proj-button-container-flufftrainer {
    flex-direction: row;
  }

  #proj-button-container-flufftrainer a {
    height: 40px;
    border-radius: 50px;
    margin: 0 1%;
  }

  #proj-body-flufftrainer {
    margin: 0 20%;
  }

  .proj-body-title {
    font-size: 35px;
  }

  .proj-body-content-flufftrainer {
    margin-top: 15px;
    font-size: 20px;
  }

  #proj-body-tech-container {
    flex-direction: row;
    width: 50%;
  }

  .single-tech-container {
    height: 50px;
    width: 50%;
    margin: 5px 0;
  }

  .single-tech-image {
    width: 50px;
  }

  .single-tech {
    font-size: 20px;
    padding-left: 17px;
  }

  #proj-body-howitworks-container-flufftrainer {
    margin-top: 560px;
  }

  #proj-body-techstackimg-container-flufftrainer {
    height: 465px;
  }

  #proj-body-techstackimg-container-flufftrainer div {
    width: 600px;
  }

  /* CODINGBOOKS */
  #proj-codingbooks {
    margin-bottom: 40px;
  }

  #proj-header-codingbooks {
    height: 600px;
  }

  #proj-header-codingbooks img {
    height: 400px;
    margin-top: -15px;
    margin-bottom: 15px;
  }

  .proj-header-platform-codingbooks {
    width: 900px;
    margin-top: 75px;
    top: 345px;
  }

  #proj-title-codingbooks {
    font-size: 65px;
    height: 70px;
    padding-top: 45px;
  }

  #proj-button-container-codingbooks {
    flex-direction: row;
  }

  #proj-button-container-codingbooks a {
    height: 40px;
    border-radius: 50px;
    margin: 0 1%;
  }

  #proj-body-codingbooks {
    margin: 0 20%;
  }

  .proj-body-title {
    font-size: 35px;
  }

  .proj-body-content-codingbooks {
    margin-top: 15px;
    font-size: 20px;
  }

  #proj-body-tech-container {
    flex-direction: row;
    width: 50%;
    margin: 10px 0;
  }

  .single-tech-container {
    height: 50px;
    width: 50%;
    margin: 5px 0;
  }

  .single-tech-image {
    width: 50px;
  }

  .single-tech {
    font-size: 20px;
    padding-left: 17px;
    padding-top: 11px;
  }

  #proj-body-howitworks-container-codingbooks {
    margin-top: 500px;
  }

  #proj-body-techstackimg-container-codingbooks {
    height: 465px;
  }

  #proj-body-techstackimg-container-codingbooks div {
    width: 600px;
  }
}
