/* for full width divs */
* {
  margin: 0;
  scroll-behavior: smooth;
}

/* NAV */
#nav-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 15px 25px;
  background: rgba(58, 58, 58, 0.877);
}

#nav-name,
#nav-work,
#nav-about,
#nav-break {
  color: rgb(206, 206, 206);
  font-size: 17px;
  font-weight: 700;
  padding: 0px 15px;
  text-decoration: none;
  font-family: 'Abel';
  transition: color 0.1s;
}

#nav-work:hover,
#nav-about:hover {
  color: grey;
  transition: color 0.1s;
  cursor: pointer;
}

#nav-name {
  position: relative;
  font-size: 25px;
  margin-right: auto;
  top: -50px;
  opacity: 0;
  -webkit-transition: top 1s, opacity 2s;
  transition: top 1s, opacity 2s;
}

#nav-break {
  font-size: 25px;
}

/* HOME */
#intro-container {
  display: flex;
  flex-direction: column;
  height: 370px;
  align-items: center;
  justify-content: center;
  /* background-image: url('skyline.png'); */
  /* background-size: cover; */
}

#intro-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 430px;
  padding: 20px 0;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-first-greeting {
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

#intro-second-greeting {
  opacity: 0;
  -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
  animation: 0.7s ease 0s normal forwards 1 fadein;
}

.intro {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  font-size: 45px;
  font-weight: 1100;
  color: rgb(0, 0, 0);
  font-family: 'Abel';
}

#intro-summary-one {
  /* height: 75px; */
  justify-content: center;
  width: 90%;
  font-size: 20px;
  color: grey;
  opacity: 0;
  -webkit-animation: 1.3s ease 0.2s normal forwards 1 fadein;
  animation: 1.3s ease 0.2s normal forwards 1 fadein;
}

#intro-summary-two {
  /* height: 75px; */
  width: 60%;
  font-size: 20px;
  color: grey;
  opacity: 0;
  -webkit-animation: 1.3s ease 0.2s normal forwards 1 fadein;
  animation: 1.3s ease 0.2s normal forwards 1 fadein;
}

/* #intro-container::before {
  height: 450px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-image: url('skyline.png');
  object-fit: scale-down;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(0.75px);
} */

/* #intro-container::before {
  content: '';
  height: 370px;
  position: absolute;
  z-index: -1;
  top: 100px;
  bottom: 0;
  left: -100px;
  right: 0;
  width: 450px;
  background-image: url('comp_user.png');
  opacity: 0.7;
  object-fit: scale-down;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
} */

/* #intro-container::after {
  content: '';
  height: 370px;
  position: absolute;
  z-index: -1;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(-20deg);
  background-image: url('controller.png');
  opacity: 0.7;
  object-fit: scale-down;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
} */

/* PROJECTS */
#proj-container {
  opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#proj-section-container {
  display: flex;
  flex-direction: row;
  width: 49.5%;
  height: 500px;
  margin: 0.25% 0.25%;
  /* align-items: center; */
}

#single-proj-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
}

#proj-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  /* background-color: rgba(167, 167, 167, 0.384); */
  /* margin-top: 100px; */
  /* box-shadow: 10px 10px 35px grey; */
}

#proj-img-container img {
  vertical-align: center;
  /* margin-top: auto; */
  max-width: 85%;
  max-height: 55%;
  object-fit: cover;
  box-shadow: 0px 0px 35px grey;
}

#proj-info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  justify-content: center;
  /* margin-left: 25vw; */
  /* padding: 20px 20px; */
  /* box-shadow: 10px 10px 35px grey; */
  /* border-radius: 10px; */
}

#proj-title {
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Abel';
}

#proj-tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.tech-bubble {
  border-radius: 20px;
  padding: 2px 10px;
  margin: 2px 2px;
  color: white;
  background-color: rgba(255, 255, 255, 0.267);
  font-family: 'Abel';
}

#proj-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.proj-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  height: 25px;
  width: 35%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Abel';
  padding: 5px 2.5%;
  margin: 0 2.5%;
  color: white;
  z-index: 1;
}

.proj-button:hover {
  color: rgb(73, 73, 255);
  background-color: rgba(255, 255, 255, 0.589);
}

#proj-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 49.5%;
  height: 500px;
  color: white;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.342)
  );
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Abel';
  opacity: 0;
  transition: opacity 0.3s;
}

#proj-desc-container:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

#proj-desc {
  padding: 60px 20px;
}

/* CONTACT */

#contact-container {
  margin: 60px 0;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#contact-header {
  font-size: 30px;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
  font-family: 'Abel';
}

form {
  padding: 35px 35px;
  margin: 0px auto;
  width: 700px;
}

form div label {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  width: 90px;
  font-family: 'Abel';
}

form input[type='email'] {
  width: 70%;
  font-family: 'Abel';
}

form textarea {
  width: 70%;
  height: 120px;
  font-family: 'Abel';
}

form input[type='submit'] {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Abel';
}

#contact-footer {
  font-size: 15px;
  margin-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Abel';
}

/* FOOTER */
#footer-container {
  background-color: rgb(194, 194, 194);
  text-align: center;
  height: 150px;
}

#icon-linkedin,
#icon-github {
  color: white;
  font-size: 45px;
  margin: 30px 20px;
  transition: color 0.5s;
}

#icon-github:hover {
  color: rgb(36, 158, 42);
  cursor: pointer;
}

#icon-linkedin:hover {
  color: rgb(52, 116, 255);
  cursor: pointer;
}

#footer-container div {
  color: white;
  font-size: 10px;
  font-family: 'Abel';
}

/* ABOUT */
#about-container {
  display: flex;
  flex-direction: row;
  position: block;
  width: 90%;
  height: 100%;
  margin: 5% auto;
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#bio-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

#bio-profile-pic {
  background-image: url('lm_profile.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 50%;
  height: auto;
  margin: 50px 50px;
  box-shadow: 10px 3px 25px grey;
}

#bio-text-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
  margin: 50px 0;
  margin-right: 50px;
  font-family: 'Abel';
}

#bio-title {
  height: 70px;
  font-size: 55px;
}

.bio-intro {
  height: 30px;
  font-size: 24px;
  color: grey;
}

#bio-summary {
  height: 400px;
}

.bio {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bio-links {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  transition: color 0.5s;
}

#bio-links i {
  color: rgb(112, 112, 112);
  font-size: 45px;
  padding: 0 10px;
}

#bio-icon-linkedin:hover {
  color: rgb(52, 116, 255);
  transition: color 0.5s;
}

#bio-icon-github:hover {
  color: rgb(36, 158, 42);
  transition: color 0.5s;
}

/* SKILLS */
#skills-container {
  display: flex;
  flex-direction: column;
  /* box-shadow: 10px 3px 25px grey; */
  padding: 20px 10%;
  /* background-color: #ffecd59c; */
  opacity: 0;
  -webkit-animation: 0.6s ease 0.1s normal forwards 1 fadein;
  animation: 0.6s ease 0.1s normal forwards 1 fadein;
}

#skills-title {
  text-align: left;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 700;
  font-family: 'Abel';
}

#skills-tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-area-container {
  background: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 25px;
  margin: 0 10px;
  width: 40%;
  transition: box-shadow 0.5s, background 1.5s;
}

#skills-frontend:hover {
  background: white;
  box-shadow: 10px 3px 25px grey;
  transition: box-shadow 0.5s, background 1.5s;
}
#skills-backend:hover {
  background: white;
  box-shadow: 10px 3px 25px grey;
  transition: box-shadow 0.5s, background 1.5s;
}
#skills-other:hover {
  background: white;
  box-shadow: 10px 3px 25px grey;
  transition: box-shadow 0.5s, background 1.5s;
}

.skills-area {
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Abel';
  margin-bottom: 10px;
  color: grey;
}

.single-skill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.single-skill-image {
  object-fit: scale-down;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 100%;
}

.single-skill {
  text-align: left;
  font-size: 25px;
  font-family: 'Abel';
  padding: 0 20px;
}

/* FOR FADE IN */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
